---
layout: copy-url-with-hash

noads: 1
shadowbox: 1

# For use below (easier to write it out here)
screenshots:
  - url: screenshots/windows.png
    thumburl: screenshots/windows-thumb.png
    id: WindowsScreenshot
    caption: Copy URL With Hash in Firefox on Windows
  - url: screenshots/mac.png
    thumburl: screenshots/mac-thumb.png
    id: MacScreenshot
    caption: Copy URL With Hash in Firefox on Mac OS X
  - url: screenshots/android.png
    thumburl: screenshots/android-thumb.png
    id: AndroidScreenshot
    caption: Copy URL With Hash in Firefox on Android
---
    <h2 id="About">About</h2>
{% include description.html %}

    <h3 id="WhyIsThisUseful">Why Is This Useful?</h3>

    <p>Have you ever wanted to send a link to a webpage to someone, but the section of the webpage that you are interested in is further down on the page? Rather than telling the person to scroll down the page until they reach the specific point that you want to show them, just send them a link that automatically takes them right to that section!</p>

    <h2 id="Installation">Installation</h2>

    <p><em>Copy URL With Hash</em> is an add-on for Mozilla Firefox. It is designed for both the desktop version of Firefox. <!-- and the mobile (Android) version of Firefox! --> If you have a computer running Firefox, <!-- or an Android device running Firefox, --> you can install <em>Copy URL With Hash</em>.</p>

    <p>To install <em>Copy URL With Hash</em>, visit <a href="https://addons.mozilla.org/en-US/firefox/addon/copy-url-with-hash/">the add-on's page on Mozilla Add-ons</a>.</p>

    <p>For more information on using <em>Copy URL With Hash</em>, see the <a href="welcome.html">welcome page</a>.</p>

    <h2 id="ReportingIssues">Reporting Issues</h2>

    <p>If you find an issues with <em>Copy URL With Hash</em>, please <a href="https://github.com/jhartz/copy-url-with-hash/issues">file an issue report on GitHub</a>.</p>

    <h2 id="Screenshots">Screenshots</h2>

    <p>Click on an image to view a larger, more detailed version.</p>

{% assign gallery = 'Screenshots' %}{% assign imagegallery = page.screenshots %}{% include imagegallery.html %}

    <p class="license"><a href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width: 0;" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png"></a><br>All screenshots are licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>

    <h2 id="Development">Development</h2>

    <p>The source code for <em>Copy URL With Hash</em> is hosted <a href="https://github.com/jhartz/copy-url-with-hash">on GitHub</a>, licensed under the BSD 2-clause license. Feel free to browse the code. To contribute, fork the repo and add a pull request, or add an issue request on GitHub.</p>

    <p>Add-on test page: <a href="test.html">test.html</a></p>

{% include filters.html %}
