---
layout: top
index: Copy URL With Hash
indexurl: /copy-url-with-hash/
prettynav:
  - text: Install Add-on
    url: https://addons.mozilla.org/en-US/firefox/addon/copy-url-with-hash/
  - pre: View on
    text: GitHub
    url: https://github.com/jhartz/copy-url-with-hash
---
<aside>
    <h3 id="VideoExample">Video Example</h3>
    <div><object data="copyurlwithhash-example.swf" type="application/x-shockwave-flash"><param value="copyurlwithhash-example.swf" name="movie"></object></div>
</aside>

<h2 id="About">About</h2>
{% include description.html %}

<h2 id="WhyIsThisUseful">Why Is This Useful?</h2>
<p>Have you ever wanted to send a link to a webpage to someone, but the section of the webpage that you are interested in is further down on the page? Rather than telling the person to scroll down the page until they reach the specific point that you want to show them, just send them a link that scrolls them to that section automatically!</p>

<h2 id="Installation">Installation</h2>
<p><em>Copy URL With Hash</em> is an add-on for Mozilla Firefox. It is designed for both the desktop version of Firefox and the mobile (Android) version of Firefox! If you have a computer running Firefox or an Android device running Firefox, you can install <em>Copy URL With Hash</em>.</p>
<p>To install <em>Copy URL With Hash</em>, visit <a href="https://addons.mozilla.org/en-US/firefox/addon/copy-url-with-hash/">the add-on's page on Mozilla Add-ons</a>.</p>
<p>For more information on using <em>Copy URL With Hash</em>, see the <a href="welcome.html">welcome page</a>.</p>

<h2 id="ReportingIssues">Reporting Issues</h2>
<p>If you find an issues with <em>Copy URL With Hash</em>, please <a href="https://github.com/jhartz/copy-url-with-hash/issues">file an issue report on GitHub</a>.</p>

<h2 id="Development">Development</h2>
<p>The source code for <em>Copy URL With Hash</em> is hosted <a href="https://github.com/jhartz/copy-url-with-hash">on GitHub</a>, licensed under the BSD 2-clause license. Feel free to browse the code; to contribute, just fork the repo or add an issue request on GitHub.</p>
<p>Add-on test page: <a href="test.html">test.html</a></p>

{% include filters.html %}