---
layout: copy-url-with-hash
title: Welcome to Copy URL With Hash
---
    <h2 id="ThankYou">Thank you for installing <em>Copy URL With Hash</em>!</h2>
{% include description.html %}

    <h3 id="UsingCopyURLWithHash">Using <em>Copy URL With Hash</em></h3>

    <p>Using <em>Copy URL With Hash</em> is simple; just <span class="filter_desktop">right-click</span><span class="filter_filler"> or </span><span class="filter_mobile">long-press</span> on something that looks important (like a heading in a page). If the owner of the page included an ID on the element that you <span class="filter_desktop">right-clicked</span><span class="filter_filler"> or </span><span class="filter_mobile">long-pressed</span> on, a button titled "Copy Page URL With Hash" will appear in the context menu. Just <span class="filter_desktop">click</span><span class="filter_filler"> or </span><span class="filter_mobile">tap</span> this button to copy a link to this section of the page! Then, you can send that link to someone else, include it in a document, store it in your own notes, etc.</p>

    <h2 id="TryItOut">Try It Out!</h2>

    <p>Try <span class="filter_desktop">right-clicking</span><span class="filter_filler"> or </span><span class="filter_mobile">long-pressing</span> on any of the headings on this page. Notice the "Copy Page URL With Hash" button? <span class="filter_desktop">Clicking</span><span class="filter_filler"> or </span><span class="filter_mobile">tapping</span> on it will copy this page's URL to the clipboard, including a hash on the end to identify the location on the page. Try pasting the copied link somewhere and comparing it to the URL of this page that you can see in the location bar to see the hash on the end with the location in the page.</p>

    <p>The headings on this page include IDs, so <em>Copy URL With Hash</em> will work with them. However, this page is too short to be able to test its functionality well. For a better example, visit <a href="http://en.wikipedia.org/wiki/Sacred_Oak">a Wikipedia page of a decent length</a>. Try using <em>Copy URL With Hash</em> with any of those headings. After you copy a URL using <em>Copy URL With Hash</em>, try opening a new tab and going to the URL to see how it brings you to that section of the page.</p>

{% include filters.html %}
